.container-fluid {
  padding: 7% 15%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Sections */
.colored-section {
  background-color: #ef8172;
  color: #fff;
}

.white-section {
  background-color: white;
}

/* Headings */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download-buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

#title {
  background-color: #ff4c68;
  padding-bottom: 100px;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title image */
.title-image {
  width: 25%;
  transform: rotate(20deg);
  position: absolute;
  right: 20%;
  top: 30%;
}

/* Features */
#features {
  position: relative;
  /* z-index: 1; */
}

.features-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  font-size: 3.5rem;
  color: #ef8172;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.icon:hover {
  color: #ff4c68;
}

.features-boxes {
  padding: 4.5%;
  /* line-height: 2.5rem; */
}

/* Testimonials */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
  /* position: relative;
  z-index: 1;
  bottom: 200px; */
}

.pricing-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.pricing-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to action */
#cta {
  padding: 100px 200px;
}

/* Footer */
#footer {
  padding: 100px;
}

.footer-icon {
  padding: 15px 10px;
}

.footer-p {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
  }
}
